
{# 
   Add edit device template
#}
{% extends "base.html" %}
{% import "forms.html" as forms %}
{% block title %}Device add/edit{% endblock %}
{% block content %}


{% set data = data if data else {}  %}

{% if validation_error  %}
<div class="p-3 text-danger border border-danger-subtle rounded-3">
    {{validation_error}}
</div>
{% endif %}

<form method="post" action="\add_edit_device" enctype=multipart/form-data> 

    <div class="row">
        <div class="col-sm">
            <label for="device_name">Device name</label>
            {{ forms.input(id='device_name',name='device_name',type='text', data=data, invalid_input_name=invalid_input_name, is_required=true) }}
        </div> 
        <div class="col-sm">
            <label for="category_id">Category name</label>
            <select name="category_id" id="category_id" required class="form-control {{'is-invalid' if invalid_input_name=='category_id' else ''}}">
                <option disabled selected="selected" value="">Please select</option>               
                {% for i in categories_col %}
                  <option value="{{i.id}}"  {{'selected' if i.id == data.get('category_id',0) else ''}} >{{i.category_name}}</option>
                {% endfor %}
            </select>
        </div>      
    </div>

    <div class="row">
        <div class="col-sm">
            <label for="device_make">Make</label>
            {{ forms.input(id='device_make',name='device_make',type='text', data=data, invalid_input_name=invalid_input_name) }}
           </div>
     
        <div class="col-sm">
            <label for="device_model">Model</label>
            {{ forms.input(id='device_model',name='device_model',type='text', data=data, invalid_input_name=invalid_input_name) }}
        </div> 
    </div>  
    <div class="row">
        <div class="col-sm">
            <label for="purchase_price_dollars">Purchase Price</label>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                  </div>
                {{ forms.input(id='purchase_price_dollars',name='purchase_price_dollars',type='number', data=data, invalid_input_name=invalid_input_name) }}
            </div>            
        </div>
        <div class="col-sm">
            <label for="purchase_store">Purchase Store</label>
            {{ forms.input(id='purchase_store',name='purchase_store',type='text', data=data, invalid_input_name=invalid_input_name) }}
        </div>
        <div class="col-sm">
            <label for="purchase_date">Purchase Date</label>
            {{ forms.input(id='purchase_date',name='purchase_date',type='date', data=data, invalid_input_name=invalid_input_name) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <label for="warranty_expiration_date">Warranty Expiration Date</label>
            {{ forms.input(id='warranty_expiration_date',name='warranty_expiration_date',type='date', data=data, invalid_input_name=invalid_input_name) }}
        </div>      
    </div>
    <div class="row">
        <div class="col-xl">
            <label for="warranty_notes">Warranty Notes</label>
            {{forms.texarea(id='warranty_notes',name='warranty_notes', data=data, invalid_input_name=invalid_input_name) }}
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-4 mt-2">
            <div class="card">
                <div class="card-header">
                    Warranty Documents
                </div>
                <div class="card-body">
                    <ul id="warranty_list" class="list-group">
                      {% for warranty in data.warranty_doc_ref %} 
                      <li class="list-group-item">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                {{warranty['doc_name']}}
                            </div>
                            <button type="button" onclick="delete_warranty_doc(this,'{{warranty['doc_ref_id']}}')" class="btn btn-sm btn-secondary" title="Delete" ><i class="bi bi-trash"></i></button>
                        </div>                        
                      </li>
                      {% endfor %} 
                    </ul>
                    <div class="d-flex flex-row-reverse mt-2">
                        <button type="button" id="add_waranty_doc" onclick="add_warranty_doc()" class="btn btn-primary btn-sm right"><i class="bi bi-plus-circle"></i> Add</button>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="col-sm-4 mt-2">
            <div class="card">
                <div class="card-header">
                    Purchase Receipts
                </div>
                <div class="card-body">
                    <div class="d-flex flex-row-reverse">
                        <button type="button" class="btn btn-primary btn-sm right"><i class="bi bi-plus-circle"></i> Add</button>
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-sm-4 mt-2">
            <div class="card">
                <div class="card-header">
                    Manuals
                </div>
                <div class="card-body">
                    <div class="d-flex flex-row-reverse">
                        <button type="button" class="btn btn-primary btn-sm right"><i class="bi bi-plus-circle"></i> Add</button>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col d-flex flex-row-reverse">
            <div class="p-1">
                <a class="btn btn-secondary" href="\my_devices"><i class="bi bi-x-octagon"></i> Cancel</a>
            </div>
            <div class="p-1">
                <button type="submit" class="btn btn-primary "><i class="bi bi-floppy"></i> Submit</button> 
            </div>                       
        </div>       
    </div>
    {{forms.input(id='id',name='id',type='hidden', data=data) }}

    {{forms.input(id='deleted_warranty_docs',name='deleted_warranty_docs',type='hidden', data=data) }}


<!-- Modal -->
<div class="modal fade" id="upload_documents" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal_tile">Modal title</h5>          
        </div>
        <div class="modal-body">
          <div class="row" id="modal_body_content">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm" id="save_doc">Save</button>
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>          
        </div>
      </div>
    </div>
  </div>


</form>

<script type="text/javascript">



    const input_prefix_document_name = "document_name_";
    const input_prefix_document_url = "document_url_";
    const input_prefix_document_upload = "document_upload_";
    var id;

    function isValidUrl(string) {
        try {
          new URL(string);
          return true;
        } catch (err) {
          return false;
        }
      }

    function get_new_id() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
          var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
          return v.toString(16);
        }) + '_' + Date.now(); 
      }

    function setup_document_name_input(modal_body_content,id){

        const div = document.createElement("div")
        div.setAttribute("class", "col-sm-12");  
        modal_body_content.appendChild(div);

        const oInputText = document.createElement("INPUT")
        oInputText.setAttribute("type", "text");
        oInputText.setAttribute("class", "form-control");  
        oInputText.setAttribute("placeholder", "Document Name"); 
        oInputText.setAttribute("autocomplete", "off"); 
        oInputText.setAttribute("id", input_prefix_document_name + id); 
        oInputText.setAttribute("name", input_prefix_document_name + id); 
        div.appendChild(oInputText)
    }

    function setup_document_URL_input(modal_body_content,id){
        const div = document.createElement("div")
        div.setAttribute("class", "col-sm-12 mt-2");  
        modal_body_content.appendChild(div); 

        const oInputText = document.createElement("INPUT")
        oInputText.setAttribute("type", "url");
        oInputText.setAttribute("class", "form-control");  
        oInputText.setAttribute("placeholder", "Document URL"); 
        oInputText.setAttribute("autocomplete", "off"); 
        oInputText.setAttribute("id", input_prefix_document_url + id); 
        oInputText.setAttribute("name", input_prefix_document_url + id); 
        div.appendChild(oInputText);
    }

    function setup_document_upload_input(modal_body_content,id){
        const div = document.createElement("div")
        div.setAttribute("class", "col-sm-12 mt-2");  
        modal_body_content.appendChild(div); 

        const oInputText = document.createElement("INPUT")
        oInputText.setAttribute("type", "file");
        oInputText.setAttribute("class", "form-control");  
        oInputText.setAttribute("placeholder", "Upload File"); 
        oInputText.setAttribute("autocomplete", "off"); 
        oInputText.setAttribute("id", input_prefix_document_upload + id); 
        oInputText.setAttribute("name", input_prefix_document_upload + id); 
        div.appendChild(oInputText); 
    }

    function delete_warranty_doc(element, warranty_doc_ref){
        if (!confirm('Are you sure you want to delete the document?')) return;
        let currentElement = element.parentElement;
        while(currentElement){
            if(currentElement.classList.contains('list-group-item')){
                currentElement.remove();
                currentElement = null;
            }
            else{
                currentElement = currentElement.parentElement;
            }
        }

        if (warranty_doc_ref == '') return;
        const deleted_warranty_docs = document.getElementById('deleted_warranty_docs');
        if(!deleted_warranty_docs.value || deleted_warranty_docs.value == ''){
            deleted_warranty_docs.value = warranty_doc_ref
        }
        else{
            deleted_warranty_docs.value =  deleted_warranty_docs.value + ',' + warranty_doc_ref
        }
    }

    function add_warranty_doc(){

        id = 'warranty_' + get_new_id();

        document.getElementById("modal_tile").innerText = "Add Warranty Document";
        
        const modal_body_content = document.getElementById("modal_body_content");
        modal_body_content.innerHTML = '';

        setup_document_name_input(modal_body_content,id);
        setup_document_URL_input(modal_body_content,id);
        setup_document_upload_input(modal_body_content,id);       

        document.getElementById("save_doc").removeEventListener('click',this.Save_Warranty_Doc);
        document.getElementById("save_doc").addEventListener('click',this.Save_Warranty_Doc );
        $('#upload_documents').modal('show');
    }

    function Save_Warranty_Doc() {
        if(!ValidateWarranty()) return;

        const document_name = document.getElementById(input_prefix_document_name+id);
        const document_url = document.getElementById(input_prefix_document_url+id);
        const document_upload = document.getElementById(input_prefix_document_upload+id);

        const warranty_list = document.getElementById("warranty_list");

        const oLiElement = document.createElement("li")
        oLiElement.setAttribute("class", "list-group-item");        

        const oFlexElement = document.createElement("div")
        oFlexElement.setAttribute("class", "d-flex");
        oLiElement.append(oFlexElement);

        const oNameElement = document.createElement("div");
        oNameElement.setAttribute("class", "flex-grow-1");
        oNameElement.innerText = document_name.value;
        oFlexElement.append(oNameElement);

        const oDeleteElement = document.createElement("button");
        oDeleteElement.setAttribute("type",'button');
        oDeleteElement.setAttribute("onclick", "delete_warranty_doc(this,'')");
        oDeleteElement.setAttribute("class",'btn btn-sm btn-secondary');
        oFlexElement.append(oDeleteElement);

        const oDeleteDecor = document.createElement("i");
        oDeleteDecor.setAttribute("class",'bi bi-trash');
        oDeleteElement.append(oDeleteDecor);


        warranty_list.appendChild(oLiElement);
        warranty_list.appendChild(document_name);
        warranty_list.appendChild(document_url);
        warranty_list.appendChild(document_upload);
        document_name.hidden = true;
        document_url.hidden = true;
        document_upload.hidden = true;
        $('#upload_documents').modal('hide');

    }

    function ValidateWarranty(){

        //document name is required
        const document_name = document.getElementById(input_prefix_document_name+id);
        document_name.className = document_name.className.replace('is-invalid','').trim();

        
        if(document_name.value == ''){
            document_name.className = document_name.className + ' is-invalid';
            document_name.focus();
            alert("Document name is required.");
            return false;
        }

        //document URL or File is required.
        const document_url = document.getElementById(input_prefix_document_url+id);
        const document_upload = document.getElementById(input_prefix_document_upload+id);

        document_url.className = document_url.className.replace('is-invalid','').trim();
        document_upload.className = document_upload.className.replace('is-invalid','').trim();       

        if(document_url.value == '' && document_upload.value  == ''){
            document_url.className = document_url.className + ' is-invalid';
            document_upload.className = document_upload.className + ' is-invalid';
            document_url.focus();
            alert("Document url or File are required");
            return false;
        }

        if(document_url.value != '' && !isValidUrl(document_url.value)){
            document_url.className = document_url.className + ' is-invalid';
            alert("URL is invalid");
            return false;
        }

        return true;
    }
  


</script>
{% endblock %}