
{# 
   Add edit device template
#}
{% extends "base.html" %}
{% import "forms.html" as forms %}
{% block title %}Device add/edit{% endblock %}
{% block content %}


{% set data = data if data else {}  %}

{% set cat_col = [] %}

{% for i in categories_col %}
   {% set cat_col = cat_col.append({'value':i.id, 
                                    'text':i.category_name}) -%}
{% endfor %}


{% if validation_error  %}
<div class="p-3 text-danger border border-danger-subtle rounded-3">
    {{validation_error}}
</div>
{% endif %}

<form method="post" action="\add_edit_device" > 

    <div class="row">
        <div class="col-sm">
            <label for="device_name">Device name</label>
            {{ forms.input(id='device_name',name='device_name',type='text', data=data, invalid_input_name=invalid_input_name, is_required=true) }}
        </div> 
        <div class="col-sm">
            <label for="category_id">Category name</label>
            <select name="category_id" class="form-control">
                <option disabled selected="selected" value="">Please select</option>               
                {% for i in cat_col %}
                  <option value="{{i['value']}}">{{i['text']}}</option>
                {% endfor %}
            </select>
        </div>      
    </div>

    <div class="row">
        <div class="col-sm">
            <label for="device_make">Make</label>
            {{ forms.input(id='device_make',name='device_make',type='text', data=data, invalid_input_name=invalid_input_name) }}
           </div>
     
        <div class="col-sm">
            <label for="device_model">Model</label>
            {{ forms.input(id='device_model',name='device_model',type='text', data=data, invalid_input_name=invalid_input_name) }}
        </div> 
    </div>  
    <div class="row">
        <div class="col-sm">
            <label for="purchase_price_dollars">Purchase Price</label>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                  </div>
                {{ forms.input(id='purchase_price_dollars',name='purchase_price_dollars',type='number', data=data, invalid_input_name=invalid_input_name) }}
            </div>            
        </div>
        <div class="col-sm">
            <label for="purchase_store">Purchase Store</label>
            {{ forms.input(id='purchase_store',name='purchase_store',type='text', data=data, invalid_input_name=invalid_input_name) }}
        </div>
        <div class="col-sm">
            <label for="purchase_date">Purchase Date</label>
            {{ forms.input(id='purchase_date',name='purchase_date',type='date', data=data, invalid_input_name=invalid_input_name) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <label for="guaranty_expiration_date">Guaranty Expiration Date</label>
            {{ forms.input(id='guaranty_expiration_date',name='guaranty_expiration_date',type='date', data=data, invalid_input_name=invalid_input_name) }}
        </div>      
    </div>
    <div class="row">
        <div class="col-xl">
            <label for="guaranty_notes">Guaranty Notes</label>
            {{forms.texarea(id='guaranty_notes',name='guaranty_notes', data=data, invalid_input_name=invalid_input_name) }}
        </div>
    </div> 
    <div class="row mt-2">
        <div class="col d-flex flex-row-reverse">
            <div class="p-1">
                <a class="btn btn-secondary" href="\my_devices">Cancel</a>
            </div>
            <div class="p-1">
                <button type="submit" class="btn btn-primary ">Submit</button> 
            </div>                       
        </div>       
    </div>
    {{forms.input(id='id',name='id',type='hidden', data=data) }}
</form>


{% endblock %}