{% extends "base.html" %}
{% block title %}My Devices{% endblock %}
{% block content %}

<h2>Devices</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}     
        <div class="p-3 mb-2 text-success border border-success-subtle rounded-3">
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row mt-2 mb-2">
  <div class="col">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <div class="d-flex flex-row-reverse gap-1">
          <select class="form-control form-control-sm" 
               id="expirationTypes"
               onchange="find_device()" >
              <option value="">Any Warranty expiration</option>
              {% for expiration_type in expiration_type_col %} 
                <option value="{{expiration_type.id}}"    {% if expiration_type.id == expiration_type_id%}selected{% endif %}>{{expiration_type.description}}</option>
              {% endfor %}             
          </select> 
          <select class="form-control form-control-sm" 
               id="category"
               onchange="find_device()" >
              <option value="">Any Categories</option>
              {% for category in categories_col %} 
                <option value="{{category.id}}"  {% if category.id == selected_category_id%}selected{% endif %}>{{category.category_name}}</option>
              {% endfor %}             
          </select>
          <input type="text" autocomplete="off" class="form-control form-control-sm auto_complete" placeholder="Filter device" 
                id="device_name" onkeyup="find_device()">
        </div>         
      </div>
    </div>                      
  </div> 
  <div class="col-md-auto mt-2 text-end">
     <a class="btn btn-primary" href="/add_edit_device"><i class="bi bi-plus-circle"></i> Add Device</a>  
  </div>      
</div>


<div class="row" id="content"> 
  {% include 'devices_col.html' %}  
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>

<script type="text/javascript">
  function onSubmit(event) {
    if (!confirm('Are you sure you want to delete the selected device?')) {
      event.preventDefault();
    }    
  }

  function refresh_on_submit(){
    for(const element of document.getElementsByClassName("delete_device"))
    {
      element.removeEventListener("submit", onSubmit);  
      element.addEventListener("submit", onSubmit);  
    } 
  }
  
 
  function find_device()
  {  
    const dev_name_input = document.getElementById('device_name')
    const category = document.getElementById('category')
    const expirationTypes = document.getElementById('expirationTypes')
    $.get('/search_device?device_name=' + dev_name_input.value + '&category_id=' + category.value + '&expiration_type_id=' + expirationTypes.value, function(data){
      document.getElementById('content').innerHTML = data
      refresh_on_submit();
    });
  }

  refresh_on_submit();
</script>


{% endblock %}