 <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="/static/Logo.svg" width="40" height="32" alt="Logo"> 
      <span class="fs-4">Household Hub</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="/mydevices" class="nav-link">Manage devices</a></li>
      <li class="nav-item"><a href="/mycategories" class="nav-link">Manage categories</a></li>
    </ul>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control" placeholder="Find device..." aria-label="Search">
     </form>
  </header>